@font-face {
  font-family: 'open_sansregular';
  src: url("../font/opensans-regular-webfont.woff2") format("woff2"), url("../font/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'signikabold';
  src: url("../font/signika-bold-webfont.woff2") format("woff2"), url("../font/signika-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'signikaregular';
  src: url("../font/signika-regular-webfont.woff2") format("woff2"), url("../font/signika-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'signikasemibold';
  src: url("../font/signika-semibold-webfont.woff2") format("woff2"), url("../font/signika-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

[class^='col'] {
  width: 100%;
  min-height: 1px; }

.col-12 {
  width: 100%; }

.col-11 {
  width: 91.66667%; }

.col-10 {
  width: 83.33333%; }

.col-9 {
  width: 75%; }

.col-8 {
  width: 66.66667%; }

.col-7 {
  width: 58.33333%; }

.col-6 {
  width: 50%; }

.col-5 {
  width: 41.66667%; }

.col-4 {
  width: 33.33333%; }

.col-3 {
  width: 25%; }

.col-2 {
  width: 16.66667%; }

.col-1 {
  width: 8.33333%; }

body {
  position: relative; }

a, button {
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transition-property: color, background-color, opacity;
  -o-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity; }
  a svg, button svg {
    fill: currentColor; }

button, .button {
  cursor: pointer; }

.ba-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: 93.6vh;
  color: #fff;
  background-image: url("../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .ba-header .name {
    position: relative;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    text-align: center; }
    .ba-header .name__title--big {
      font-family: 'signikaregular';
      font-size: 108px;
      padding-bottom: 0.59em; }
    .ba-header .name__title--small {
      font-size: 48px;
      font-family: 'signikasemibold';
      padding-bottom: 0.71em; }
    .ba-header .name__text {
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'signikasemibold'; }
      .ba-header .name__text a + a {
        padding-left: 13px; }
      .ba-header .name__text a {
        position: relative; }
        .ba-header .name__text a:before {
          content: '//';
          padding-right: 13px; }
      .ba-header .name__text a:first-child:before {
        content: none; }

.navigation {
  background-color: #00a388;
  text-transform: uppercase;
  color: #fff; }
  .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .navigation__item {
    font-size: 18px;
    font-family: 'signikaregular';
    height: 6.4vh;
    line-height: 6.4vh;
    position: relative; }
    .navigation__item:before {
      content: '//';
      position: absolute;
      top: 0;
      left: 1em; }
  .navigation__item + .navigation__item {
    padding-left: 2.67em; }
  .navigation__item:first-child:before {
    content: none; }

.about {
  padding: 100px 0; }
  .about__title {
    text-align: center;
    font-size: 48px;
    font-family: 'signikasemibold';
    color: #140e1d;
    text-transform: uppercase;
    padding-bottom: 0.48em; }
  .about__btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .about__btn button {
      border: none;
      width: 7px;
      height: 10px;
      border-radius: 50%;
      background-color: #140e1d; }
    .about__btn button + button {
      margin-left: 5px; }
  .about__title--small {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'signikaregular';
    text-align: center;
    padding: 1.44em 0 3.56em; }
  .about .text {
    width: 618px;
    font-family: 'open_sansregular';
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 7.5em; }
  .about__akk {
    width: 270px; }
    .about__akk-title {
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'signikaregular';
      text-align: center;
      position: relative;
      padding: 1.5em 0; }
      .about__akk-title:before {
        content: '//';
        margin-right: 1em;
        display: inline-block; }
      .about__akk-title:after {
        content: '//';
        margin-left: 1em;
        display: inline-block; }
    .about__akk-specialization {
      font-size: 16px;
      font-family: 'signikaregular';
      text-align: center;
      padding-bottom: 1.69em; }
    .about__akk .transparent {
      opacity: 0; }
      .about__akk .transparent__text {
        font-size: 12px;
        font-family: 'open_sansregular';
        text-align: justify;
        padding: 0 2.08em 2.08em;
        width: 227px;
        line-height: 1.5;
        background-color: transparent; }
      .about__akk .transparent__social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 25px; }
        .about__akk .transparent__social a + a {
          margin-left: 13px; }
    .about__akk:hover,
    .about__akk:hover .transparent {
      background-color: #00a388;
      opacity: 1;
      color: #fff;
      -webkit-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out;
      transition: 1s ease-in-out; }

/*# sourceMappingURL=style.css.map */