@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikabold';
    src: url('../font/signika-bold-webfont.woff2') format('woff2'),
         url('../font/signika-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikaregular';
    src: url('../font/signika-regular-webfont.woff2') format('woff2'),
         url('../font/signika-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'signikasemibold';
    src: url('../font/signika-semibold-webfont.woff2') format('woff2'),
         url('../font/signika-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// variables
$mainColor: #444;
$mainBackground: #fff;

$container: 1400px;
$colGups: 15px;


$textFont-size: 1rem;  // 16px
$linkColor: blue;

$breakpoints: (
        xs: 0,
        sm: 575px,
        md: 768px,
        lg: 1025px,
        xl: 1200px,
        xxl: 1440px
);



  //===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}


//===========  mixins end ===========//

@mixin col-create(){
  @while $col > 0 {

    .col-#{$col} {

      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}


.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}

@mixin title {
  text-align: center;
  font-size: 48px;
  font-family: 'signikasemibold';
  color: #140e1d;
  text-transform: uppercase;
  padding-bottom: 0.48em;
}

@mixin btn-position {
  position: relative;
  display: flex;
  justify-content: center;
}

@mixin btn-title {
  border: none;
  width: 7px;
  height: 10px;
  border-radius: 50%;
  background-color: #140e1d;
}


// layout

.row{
  display: flex;
  justify-content: space-between;
}

[class^='col']{
  width: 100%;
  min-height: 1px;
}

@include col-create()


// main styles

body{
  position: relative;
}

//buttons
a, button{
  transition: .3s ease-in;
  transition-property: color, background-color, opacity;
  svg{
    fill:currentColor;
  }
}
button, .button{
  cursor: pointer;
}

.ba-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 93.6vh;
    color: #fff;
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover; 
 
    .name {
    position: relative;
    bottom: 50%;
    transform: translateY(50%);
    text-align: center;
    

    &__title {
      &--big {
        font-family: 'signikaregular';
        font-size: 108px;
        padding-bottom: 0.59em;
      }

      &--small {
        font-size: 48px;
        font-family: 'signikasemibold';
        padding-bottom: 0.71em;
      }
    }

    &__text {
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'signikasemibold';
          a + a {
          padding-left: 13px;
        }
          a {
          position: relative;

          &:before {
          content: '//';
          padding-right: 13px;
          }
      }

      a:first-child:before {
        content: none;
      }
      
    }

    }
}

.navigation {
    background-color: #00a388;
    text-transform: uppercase;
    color: #fff;

    ul {
      display: flex;
      -webkit-justify-content: center;
              justify-content: center;
      
    }

    &__item {
      font-size: 18px;
      font-family: 'signikaregular';
      height: 6.4vh;
      line-height: 6.4vh;
      position: relative;
      
      &:before {
        content: '//';
        position: absolute;
        top: 0;
        left: 1em;
      }
    }

    &__item + &__item {
      padding-left: 2.67em; 
    }

    &__item:first-child:before {
      content: none;
    }
}

.about {
  padding: 100px 0 371px;
  
  &__title {
    @include title;
  }

  &__btn {
    @include btn-position;
    
    button {
      @include btn-title;     
    }

    button + button {
      margin-left: 5px;
    }
  }

  &__title--small {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'signikaregular';
    text-align: center;
    padding: 1.44em 0 3.56em;
  }

  .text {
    width: 618px;
    font-family: 'open_sansregular';
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 7.5em;
  }

  &__akk {
    width: 270px;
    position: relative;
    

    &-title {
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'signikaregular';
      text-align: center;
      position: relative;
      padding: 1.5em 0;
      z-index: 5;
      
      &:before {
        content: '//';
        margin-right: 1em;
        display: inline-block;
      }

      &:after {
        content: '//';
        margin-left: 1em;
        display: inline-block;
      }
    }

    &-specialization {
      font-size: 16px;
      font-family: 'signikaregular';
      text-align: center;
      z-index: 5;
    }

    .transparent {
      transform: rotateY(90deg);
      
      z-index: -1;
      position: absolute;
      top: 268px;
      left: 0;
      width: 270px;
      background-color: #00a388;
      
             
      &__text {
        font-size: 12px;
        font-family: 'open_sansregular';
        text-align: justify;
        padding: 9.17em 2.08em 2.08em;
        width: 227px;
        line-height: 1.5;
        background-color: transparent;
        color: #fff;
      }

    &__social {
      display: flex;
      justify-content: center;
      margin-bottom: 25px;
      
      a + a {
        margin-left: 13px;
      }

      }

    }

    &:hover {
        color: #fff;
        transition: 2.5s ease-in-out;
      }

    &:hover .transparent {
      transform: rotateY(360deg);
      transition: 2s ease-in-out;
    }
    
   }
}

.portfolio {
  padding: 0 0 122px;

  &__title {
    @include title;
  }

  &__btn {
    @include btn-position;
    
    button {
      @include btn-title;     
    }

    button + button {
      margin-left: 5px;
    }
  }

      &__text {
      padding: 2.72em 0 4.61em;
      text-align: center;
      text-transform: uppercase;
      font-size: 18px;
      font-family: 'signikasemibold';
          a + a {
          padding-left: 13px;
        }
          a {
          position: relative;

          &:before {
          content: '//';
          padding-right: 13px;
          }
      }

      a:first-child:before {
        content: none;
      }
      
    }

    .row {
      font-size: 0;
      
      .col-3 {
        position: relative;
      
        &__img {
          width: 100%;
          }
        

        .hover {
          transform: rotateX(90deg) rotateY(90deg) rotateZ(30deg);
          position: absolute;
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 163, 136, 0.7);
          z-index: 5;
          color: #FFF;
          display: flex;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-justify-content: center;
                  justify-content: center;
          -webkit-align-content: center;
                  align-content: center;
          -webkit-align-items: center;
                  align-items: center;
          
          &__title {
            font-size: 30px;
            text-transform: uppercase;
            font-family: 'signikasemibold';
          }

          &__text {
            font-size: 18px;
            font-family: 'open_sansregular';
            text-transform: uppercase;
            text-align: center;
            padding: 1.67em 0 1.28em;
          }

          img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &:hover .hover {
          transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
          transition: 1.5s ease-in;
        }
      }
    } 
}

.services {
  
    &__title {
    @include title;
   }

   &__btn {
    @include btn-position;
    
    button {
      @include btn-title;     
    }

    button + button {
      margin-left: 5px;
    }
   }

   &__title--small {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'signikaregular';
    text-align: center;
    padding: 1.44em 0 3.56em;
  }

  .row {
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  &__item {
    width: 46.43%;
    padding-bottom: 80px;
    
    div {
      width: 113px;
      height: 113px;
      background-color: #00a388;
      
      img {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    h4 {
      font-size: 36px;
      font-family: 'signikaregular';
      padding: 0.67em 0 0.58em;
    }

    p {
      font-size: 14px;
      font-family: 'open_sansregular';
      line-height: 2;
    }

    &-link {
      display: flex;
      -webkit-justify-content: flex-end;
              justify-content: flex-end;
      color: transparent;
      font-size: 18px;
      font-family: 'signikaregular';
    }

    &:hover &-link {
      color: inherit;
    }

    &:hover div{
      transform: rotateX(360deg);
      transition: 2s ease-in;
    }
   }
}

.blog {
  padding: 105px 0 223px;
  background-color: #ecfffc;
  
  &__title {
    @include title;
  }

  &__btn {
    @include btn-position;
    
    button {
      @include btn-title;     
    }

    button + button {
      margin-left: 5px;
    }
  }

  &__title--small {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'signikaregular';
    text-align: center;
    padding: 1.44em 0 3.56em;
  }

  .row + .row {
    margin-top: 36px;
  }

  .col-3 {
    min-height: 683px;
    background-color: #fff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    

    
    img {
      object-fit: cover;
      width: 100%;
      max-height: 325px;
      object-position: left top;          
    }

    &__content {
      width: 82%;
      max-height: 325px;
      padding: 35px 30px 30px;
      -o-background-clip: border-box;
         background-clip: border-box;
      
      a {
        color: #00a388;
        font-size: 17px;
        font-family: 'Roboto Regular', Arial, sans-serif;
      }

      h4 {
        font-size: 28px;
        font-family: 'signikaregular';
        line-height: 1.24;
        padding-top: 0.89em;
        padding-bottom: 1.07em;
      }

      p {
        font-size: 17px;
        font-family: 'open_sansregular';
        line-height: 1.59;
        padding-top: 1.59em;
      }

    }



    p {
      padding-top: 10px;
    }
  }

  .col-3 + .col-3 {
    margin-left: 37px;
  }
}

.map {
  img {
    width: 100%;
  }
}

.contact {
  padding: 145px 0;

    &__title {
    @include title;
  }

  &__btn {
    @include btn-position;
    
    button {
      @include btn-title;     
    }

    button + button {
      margin-left: 5px;
    }
  }

  &__form {
    padding-top: 60px;
    justify-content: center;
    
    form {
      padding-left: 123px;
    }
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
         color: #fff;
         opacity: 1; /* Firefox */
         }

       :-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: #fff;
         }

       ::-ms-input-placeholder { /* Microsoft Edge */
         color: #fff;
         }
    
    .row {
      padding-bottom: 50px;
      width: 100%;
      position: relative;
      left: 50%;
      transform: translate(-50%); 
    }

    &-input,
    &-textarea {
      width: 50%;
    }

    input, textarea {
      background-color: #140E1D;
      background-clip: border-box;
      width: 560px;
      height: 72px;
      line-height: 72px;
      border-radius: 10px;
      font-size: 18px;
      font-family: 'open_sansregular';
      font-weight: 300;
      padding-left: 25px;
      -o-background-clip: border-box;
         background-clip: border-box;
    }

    input + input {
      margin-top: 30px;
    }

    textarea {
      height: 176px;
    }

    [type=submit] {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-family: 'open_sansregular';
      font-size: 25px;
      width: 200px;
      padding: 0;
      position: relative;
      left: 48%;
      transform: translateX(-50%);
    }
  }
}

.color {
  background-color: #02C5A5;
}

.address {
  color: #fff;
  font-family: 'open_sansregular';
  font-size: 18px;
  background-color: #00a388;
  padding: 107px 0 120px;
  line-height: 1.5;
  
  ul {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
        li {
          width: 24%;
        }
  }

  .col-6__links{

    position: relative;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);

   a {
    img {
      border-radius: 50%;
    }
   }

   a + a {
     margin-left: 10px;
   }
  }

}

.ba-footer {
  background-color: #140e1d;
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  font-family: 'signikaregular';
  color: #fff;
  text-transform: uppercase;
}